<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout}">
<body>
<div layout:fragment="content">
    <div class="container mt-5">
        <div class="card shadow-lg">
            <div class="card-header bg-warning text-dark">
                <h2 class="mb-0">Edit Category</h2>
            </div>
            <div class="card-body">
                <form th:action="@{/admin/categories/saveOrUpdate}" 
                      th:object="${category}" method="post">

                    <!-- hidden id -->
                    <input type="hidden" th:field="*{id}" />

                    <div class="mb-3">
                        <label class="form-label">Category Name</label>
                        <input type="text" th:field="*{categoryName}" class="form-control" required />
                    </div>

                    <button type="submit" class="btn btn-primary">Update</button>
                    <a th:href="@{/admin/categories}" class="btn btn-secondary">Back to list</a>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
